@tailwind base;
@tailwind components;
@tailwind utilities;

/* para iniciar
npx tailwindcss -i ./style/style.css -o ./style/tailwind.css --watch
*/
@font-face {
    font-family: 'avertaR';
    src: url('../public/fonts/avertaR.otf');
}


.texto 
{
    font-family: 'avertaR';
}